<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <title>Charles Baudelaire</title>
</head>
<body class="bodyBackground">
    <div class="container ">
        <header>
            <%- include('../partials/header')%>
        </header>
        <div class="row">
            <div class="col-md">
               <h1>
                   <%= title %>
               </h1>
               <div>
                   <h1>Lancers</h1>
                   <ul>
                    <% dices.forEach((dice) => { %>
                        <li><%= dice %></li>
                    <%  }) %>
                    </ul>
               </div>
               <div>
                <% if(data.length)  { %>
                    <ul>
                    <% data.forEach(({name, number, order }) => { %>
                        <li>Name: <%= name %> number: <%= number %> order <%= order %></li>
                    <%  }) %>
                    </ul>
                <% } else { %>
                    <p>Désolé pas de contenu</p>
                <% } %>
               </div>
               <div>
                   <img width="200" src="/assets/philo.png" />
               </div>
               <div>
                   <a href="/play">Let's go</a>
               </div>
            </div>
            <footer>
                <%- include('../partials/footer')%>
            </footer>
        </div>
    </div>
</body>
</html>